
        
        $main-primary-color:#21879e;
        $main-secondary-color:#28a745;
        // $main-background-image:'https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(20).jpg';
        $main-background-image:'';